.header {

    --brdr-rad: 3vh;
    --font-size: 1em;
    --btn-font-size: 0.8em;
    width:100%;
    /* background: #555; */
    color: var(--font-color);
    position:fixed;
    height: auto;
    display: flex;
    padding: var(--padding-top-bottom) var(--padding-right-left);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  

  img{
      width: 67%;
      transition: width 0.3s ease;
  }

  .options{
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  span{
      margin-left:4vw;
      font-size: var(--font-size);
      font-weight: 500;
      cursor:pointer;
  }

  span:hover{
      color: var(--theme);
  }

  /* span:hover{
    margin-left:4vw;
    font-size: var(--font-size);
} */

  .btn-span{
    padding: 0;
    /* background: white; */
    border: none;
    border-radius: var(--brdr-rad);
    display: inline-flex;
  }

  button{
    box-shadow: 0px 0px 20px #00000033;
    border: 0.15em solid var(--theme);
    border-radius: var(--brdr-rad);
    font-size: var(--font-size);
    margin-left: 2vh;
    font-size: var(--btn-font-size);
    padding-right:  4vh;
    padding-left:  4vh;
  }

  .lgn-btn{
    /* width: 135%; */
    color: var(--theme);
    

  }

  .started-btn{
    /* width: 140%; */
    color: #fff;
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    border-radius: var(--brdr-rad);
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color:var(--theme);
    border-color:var(--theme);
  }

  .btn-primary:hover {
    background: transparent linear-gradient(90deg, #663399 0%, #663399 100%) 0% 0% no-repeat padding-box;
    border-color:var(--theme);
    padding-right:  4vh;
    padding-left:  4vh;
  }