/* You can add global styles to this file, and also import other style files */


/* @import '~font-awesome/css/font-awesome.css';   */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";



:root{
    --padding-top-bottom: 3vh ;
    --padding-right-left:4vw;
    --font-color: #222222;
    --theme: #663399;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    background: #FCFCFF 0% 0% no-repeat padding-box;
} .btn:active{
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
}

.btn:focus{
    outline: none !important;
    box-shadow: none !important;

    
}